
{% extends 'flatpages/default.html' %}
{% block title %}
фотки
{% endblock title %}

{% block content %}
   <h1>фотки</h1>
   <hr>

<div class="slideshow-container">


    {% if imgs %}
            {% for img in imgs %}
    <div class="mySlides fade">
        <div class="numbertext">{{ img.id }}</div>
                    <img {{ img.photo_url_carusel }}>
    <div class="text">фото {{ img.id }}</div>
        </div>
            {% endfor %}


<a class="prev" onclick="plusSlides(-1)"> << </a>
<a class="next" onclick="plusSlides(1)"> >> </a>

</div>
<br>

<div style="text-align:center">
    {% for img in imgs %}
       <span class="dot" onclick="currentSlide({{ img.id }})"></span>
    {% endfor %}
</div>



{% else %}
       <h2>Фоток нет!</h2>
{% endif %}

<script>
var slideIndex = 1;
showSlides(slideIndex);

function plusSlides(n) {
  showSlides(slideIndex += n);
}

function currentSlide(n) {
  showSlides(slideIndex = n);
}

function showSlides(n) {
  var i;
  var slides = document.getElementsByClassName("mySlides");
  var dots = document.getElementsByClassName("dot");
  if (n > slides.length) {slideIndex = 1}
  if (n < 1) {slideIndex = slides.length}
  for (i = 0; i < slides.length; i++) {
      slides[i].style.display = "none";
  }
  for (i = 0; i < dots.length; i++) {
      dots[i].className = dots[i].className.replace(" active", "");
  }
  slides[slideIndex-1].style.display = "block";
  dots[slideIndex-1].className += " active";
}
</script>

{% endblock content %}




    <div class="carousel">
        <div class="carousel-inner">
                <div class="carousel-item">
                  <img src="/media/images/618048_01.jpg" alt="Image 1">
                </div>
        </div>
    </div>

