
{% extends 'flatpages/default.html' %}
{% block title %}
товары
{% endblock title %}

{% block content %}
   <h1>товары</h1>
   <hr>
   {% if productsadmin %}
           <table class="table-bordered" width="100%">
           <tr align="left">
               <th>Товар</th>
               <th>Марка</th>
               <th>Цена</th>
               <th>Количество</th>
               <th>Страна</th>
               <th>Категория</th>
               <th>Фото</th>
               <th>Посмотреть товар</th>
           </tr>

           {% for product in productsadmin %}
            <tr align="left">
               <td width="30%">{{ product.product_name }}</td>
               <td width="10%">{{ product.marka }}</td>
               <td width="5%">{{ product.price }}</td>
               <td width="5%">{{ product.quantity }}</td>
               <td width="10%">{{ product.country }}</td>
               <td width="10%">{{ product.category }}</td>
               <td width="10%">{% for image in product.image.all %} {{ image }} {% endfor %}</td>
               <td width="5%"><a href="/productsadmin/{{product.id}}/">прочитать</a></td>
            </tr>
           {% endfor %}
           </table>
   {% else %}
       <h2>Товаров нет!</h2>
   {% endif %}


   {% if page_obj.has_previous %}
       <a href="?page=1">1</a>
       {% if page_obj.previous_page_number != 1 %}
           ...
           <a href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>
       {% endif %}
   {% endif %}
   {{ page_obj.number }}
   {% if page_obj.has_next %}
       <a href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
       {% if paginator.num_pages != page_obj.next_page_number %}
           ...
           <a href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a>
       {% endif %}
   {% endif %}

<p><a href="/products/create/">добавить товар</a></p>

{% endblock content %}
