
{% extends 'flatpages/default.html' %}
{% block title %}
О нас
{% endblock title %}

{% block content %}
<div class="contact" align="center">
Магазин бытовой техники "Ромашка"<br><br>
Чтобы давать людям больше, недостаточно открывать больше магазинов, <br>
расширять каталог товаров и увеличивать сумму чека. <br>
Мы продаем технику, но работаем с людьми! <br>
Мы хотим помочь людям решить больше проблем. <br>
Поэтому предлагаем больше решений. <br>
Открываем больше возможностей. <br>
Чтобы стать для них больше, чем просто магазином...<br>
</div>


{% endblock content %}